# PRÁCTICA 10: PERCEPTRÓN MULTICAPA - Javier Abad Hernández

In [5]:
from sklearn.datasets import fetch_openml
import numpy as np
import pandas as pd
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import MinMaxScaler
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score as ac
import time
from tqdm.notebook import tqdm

### Ejercicio 1

In [2]:
X, y = fetch_openml(data_id=1560, return_X_y=True)
scaler = MinMaxScaler()
X=scaler.fit_transform(X)

y.shape, X.shape

((2126,), (2126, 35))

In [3]:
result = pd.DataFrame(index=range(5,51,5), columns=['Entrena', 'Verifica', 'T_Ejecución'])
result.index.name = 'Neuronas Ocultas'
result

                 Entrena Verifica T_Ejecución
Neuronas Ocultas
5                    NaN      NaN         NaN
10                   NaN      NaN         NaN
15                   NaN      NaN         NaN
20                   NaN      NaN         NaN
25                   NaN      NaN         NaN
30                   NaN      NaN         NaN
35                   NaN      NaN         NaN
40                   NaN      NaN         NaN
45                   NaN      NaN         NaN
50                   NaN      NaN         NaN

In [4]:
for h in result.index:
    print(h)

5
10
15
20
25
30
35
40
45
50

In [5]:
# hay que experimentar con un MLP clasificador usando la validación cruzada habitual (k=10).
K=10
skf=StratifiedKFold(n_splits=K)

In [6]:
# Se considerará sólo una capa 
# oculta, cuyo tamaño se hará variar de 5 en 5, entre 5 y 50 nodos.

# h es el numero de neuronas ocultas
for h in result.index:
    r_fold = pd.DataFrame(columns=['Entrena', 'Verifica', 'T. Ejecución']) 
    r_fold.index.name = 'Fold'
    k=0
    mlp = MLPClassifier(hidden_layer_sizes=(h), max_iter=1000)
    for train_index, test_index in tqdm(skf.split(X,y), total=K, unit="fold"):
        comienzo = time.time()
        mlp.fit(X[train_index], y[train_index])
        r_fold.loc[k,:]= [mlp.score(X[train_index], y[train_index]), mlp.score(X[test_index], y[test_index]), time.time()-comienzo]

        #printer fold. Loc[k])
        k+= 1 
    print("Tamaño Capa Oculta: ", h)
    display(r_fold)
    print("MEDIA:\n", r_fold.mean())
    print("\nTiempo Total (seg) =", r_fold.sum(axis=0) [2], "\n\n")
    result.loc[h,:]= [r_fold.mean()[0], r_fold.mean()[1], r_fold.sum(axis=0)[2]]

  0%|          | 0/10 [00:00<?, ?fold/s]

Tamaño Capa Oculta:  5

       Entrena  Verifica T. Ejecución
Fold
0      0.99425  0.957746     1.317739
1     0.992159   0.99061     1.144448
2     0.990591       1.0     1.105077
3     0.990591  0.995305     0.907147
4     0.991636  0.957746     1.233475
5     0.992159       1.0     2.055249
6     0.990596  0.990566     1.063547
7     0.991641  0.995283     1.403113
8     0.993208  0.990566     1.221096
9     0.993208  0.985849     0.865195

MEDIA:
 Entrena         0.992004
Verifica        0.986367
T. Ejecución    1.231609
dtype: float64

Tiempo Total (seg) = 12.31608533859253

  0%|          | 0/10 [00:00<?, ?fold/s]

Tamaño Capa Oculta:  10

       Entrena  Verifica T. Ejecución
Fold
0     0.993727  0.957746     0.770887
1     0.992682  0.995305     1.031147
2     0.991113   0.99061     0.925464
3     0.991636  0.995305     0.750921
4     0.992682  0.953052     0.900371
5     0.991113       1.0      0.73964
6     0.992163  0.990566     0.941451
7     0.992163  0.990566     1.210985
8     0.993208  0.990566     0.848211
9     0.994253  0.971698     1.073788

MEDIA:
 Entrena         0.992474
Verifica        0.983542
T. Ejecución    0.919286
dtype: float64

Tiempo Total (seg) = 9.19286322593689

  0%|          | 0/10 [00:00<?, ?fold/s]

Tamaño Capa Oculta:  15

       Entrena  Verifica T. Ejecución
Fold
0     0.995295  0.962441     1.024803
1     0.992682  0.995305     1.097229
2     0.993204  0.995305     1.096177
3     0.993727   0.99061      1.35552
4     0.993727  0.957746     1.018695
5     0.992682       1.0     0.977384
6     0.991641  0.995283     0.841406
7     0.992685  0.990566     1.029107
8     0.993208  0.990566     0.913289
9     0.994253   0.95283     1.096327

MEDIA:
 Entrena         0.993310
Verifica        0.983065
T. Ejecución    1.044994
dtype: float64

Tiempo Total (seg) = 10.449936151504517

  0%|          | 0/10 [00:00<?, ?fold/s]

Tamaño Capa Oculta:  20

       Entrena  Verifica T. Ejecución
Fold
0     0.994773  0.962441     0.888455
1     0.993204       1.0     1.581794
2     0.992682  0.995305     0.877506
3     0.994773   0.99061     1.252019
4     0.993727  0.962441     1.125917
5     0.992682       1.0     1.245043
6     0.993208  0.990566     1.257641
7     0.992163  0.990566     1.083317
8     0.992685  0.990566     1.102178
9     0.994775  0.971698     1.069424

MEDIA:
 Entrena         0.993467
Verifica        0.985419
T. Ejecución    1.148329
dtype: float64

Tiempo Total (seg) = 11.483294248580933

  0%|          | 0/10 [00:00<?, ?fold/s]

Tamaño Capa Oculta:  25

       Entrena  Verifica T. Ejecución
Fold
0     0.997386  0.962441     1.155118
1     0.992682  0.995305     1.079461
2      0.99425  0.995305      1.53573
3     0.995295   0.99061     1.616651
4     0.993727  0.971831     1.326598
5     0.991636       1.0     1.032993
6      0.99582  0.990566     2.148879
7     0.992685  0.990566     0.980639
8      0.99373  0.990566     1.048038
9     0.994253  0.966981     0.764357

MEDIA:
 Entrena         0.994147
Verifica        0.985417
T. Ejecución    1.268846
dtype: float64

Tiempo Total (seg) = 12.688463926315308

  0%|          | 0/10 [00:00<?, ?fold/s]

Tamaño Capa Oculta:  30

       Entrena  Verifica T. Ejecución
Fold
0     0.995295  0.962441     0.775138
1     0.993204       1.0     1.442573
2     0.992682  0.995305     1.497409
3     0.993204   0.99061     1.065746
4     0.995295  0.971831     1.610261
5     0.991113       1.0     1.162717
6      0.99373  0.995283     1.641533
7     0.994775  0.985849     2.678216
8     0.993208  0.990566     1.161147
9     0.995298  0.943396     1.511277

MEDIA:
 Entrena         0.993781
Verifica        0.983528
T. Ejecución    1.454602
dtype: float64

Tiempo Total (seg) = 14.546017169952393

  0%|          | 0/10 [00:00<?, ?fold/s]

Tamaño Capa Oculta:  35

       Entrena  Verifica T. Ejecución
Fold
0     0.995818  0.967136     1.495265
1     0.993204   0.99061     1.740889
2     0.993727  0.995305     1.665011
3     0.995818  0.981221     2.550987
4     0.993727  0.962441     1.061581
5     0.992159       1.0     1.479681
6     0.997388  0.981132     2.445431
7     0.993208  0.990566     1.505913
8     0.996343  0.990566     3.118945
9     0.995298  0.929245     1.459685

MEDIA:
 Entrena         0.994669
Verifica        0.978822
T. Ejecución    1.852339
dtype: float64

Tiempo Total (seg) = 18.523388624191284

  0%|          | 0/10 [00:00<?, ?fold/s]

Tamaño Capa Oculta:  40

       Entrena  Verifica T. Ejecución
Fold
0     0.995818  0.962441     1.018716
1     0.996341   0.99061     2.317518
2     0.997909  0.995305     2.758877
3     0.995818   0.99061     2.020186
4     0.995818  0.971831     1.859841
5     0.994773       1.0     2.029548
6      0.99582  0.985849     2.654283
7     0.994775  0.990566     1.830398
8     0.996343  0.995283     2.389093
9     0.994775  0.933962     1.423621

MEDIA:
 Entrena         0.995819
Verifica        0.981646
T. Ejecución    2.030208
dtype: float64

Tiempo Total (seg) = 20.302079677581787

  0%|          | 0/10 [00:00<?, ?fold/s]

Tamaño Capa Oculta:  45

       Entrena  Verifica T. Ejecución
Fold
0     0.996341  0.962441     1.154059
1     0.996864   0.99061     2.816519
2     0.995818  0.995305     1.721443
3     0.996341  0.981221     2.273878
4     0.993727  0.971831     1.196667
5     0.997909       1.0     2.999775
6      0.99373  0.990566     1.559573
7     0.996343  0.995283      2.56526
8      0.99582  0.990566     2.019553
9      0.99582  0.929245     1.390665

MEDIA:
 Entrena         0.995871
Verifica        0.980707
T. Ejecución    1.969739
dtype: float64

Tiempo Total (seg) = 19.697392225265503

  0%|          | 0/10 [00:00<?, ?fold/s]

Tamaño Capa Oculta:  50

       Entrena  Verifica T. Ejecución
Fold
0     0.995295  0.962441     1.060748
1     0.996864   0.99061      2.89401
2     0.996864  0.995305     2.329884
3     0.995295   0.99061     1.632156
4     0.995818  0.971831     1.686244
5     0.996864       1.0     2.945242
6      0.99582  0.995283      1.63261
7     0.996865       1.0     3.055046
8      0.99582  0.990566     2.761219
9     0.996343  0.882075     2.411393

MEDIA:
 Entrena         0.996185
Verifica        0.977872
T. Ejecución    2.240855
dtype: float64

Tiempo Total (seg) = 22.408551692962646

In [7]:
result

                   Entrena  Verifica T_Ejecución
Neuronas Ocultas
5                 0.992004  0.986367   12.316085
10                0.992474  0.983542    9.192863
15                 0.99331  0.983065   10.449936
20                0.993467  0.985419   11.483294
25                0.994147  0.985417   12.688464
30                0.993781  0.983528   14.546017
35                0.994669  0.978822   18.523389
40                0.995819  0.981646    20.30208
45                0.995871  0.980707   19.697392
50                0.996185  0.977872   22.408552

In [11]:
# Mayor precisión media en el test
result['Verifica'] = result['Verifica'].astype(float)
print("La mayor precisión media está en la capa", result.Verifica.idxmax(), "para Verifica: ",result.Verifica.max())

Mayor precisión media en la capa 5 para Verifica:  0.9863672601647622

In [15]:
result['T_Ejecución'] = result['T_Ejecución'].astype(float)
# Menor tiempo de ejecución
print("El resultado con menor tiempo de ejecución está en la capa",result.T_Ejecución.idxmin(),"siendo: ",result.T_Ejecución.min())

El resultado con menor tiempo de ejecución está en la capa 10 siendo:  9.19286322593689